@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Sofia+Sans+Condensed:ital,wght@0,400;0,600;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

*::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
  font-family: "Lato", sans-serif;
}

*::placeholder,
button {
  font-family: "Lato", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 10px;
}

::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0, 0, 0, 0.61);
  border-radius: 100px;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000;
}

body input:required:valid,
body textarea:required:valid {
  color: #000;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  opacity: 1;
  overflow: hidden;
}

.img_responsive {
  display: block;
  width: 100%;
  height: auto;
}
.img_responsive > source,
.img_responsive > img {
  width: 100%;
}


.btn_simple {
  color: #722ED1;
  border: 1px solid #722ED1;
  font-weight: 500;
  padding: 7px 34px;
  transition: all 0.4s ease 0s;
  text-decoration: none;
  border-radius: 20px;
}
.btn_simple:hover {
  background-color: #722ED1;
  color: #fff;
}

.btn {
  color: #fff;
  background-color: #722ED1;
  padding: 14px 40px;
  transition: all 0.4s ease 0s;
  text-decoration: none;
  border-radius: 24px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.btn:hover {
  background-color: #FFF;
  color: #111;
}
.btn_white {
  background-color: #FFF;
  color: #111;
}
.btn_white:hover {
  color: #fff;
  background-color: #722ED1;
}

h1,
h2,
h3,
h4 {
  line-height: 1.3;
}

section {
  padding: 100px 0;
}
section#top_banner, section#shadow-host-companion {
  padding: 0;
}

#top_banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#header {
  padding-top: 24px;
}

.hamburger {
  display: none;
}
.hamburger .line {
  width: 24px;
  height: 3px;
  background-color: #333;
  display: block;
  margin: 6px auto;
  transition: all 0.3s ease-in-out;
}
.hamburger .line:hover {
  cursor: pointer;
}
.hamburger.is-active .line:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}
.hamburger.is-active .line:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.inner_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inner_header > .logo {
  display: block;
  width: 48px;
  height: 48px;
}
.inner_header > .logo > img {
  width: 100%;
  height: auto;
}
.inner_header .right_side_header {
  display: flex;
  align-items: center;
}
.inner_header .right_side_header .mnu_top {
  list-style-type: none;
}
.inner_header .right_side_header .mnu_top > li {
  position: relative;
  display: inline-block;
}
.inner_header .right_side_header .mnu_top > li a {
  padding: 5px 40px 5px 0px;
  display: block;
  text-decoration: none;
  font-weight: 500;
  color: #000;
  transition: color 0.4s ease;
}
.inner_header .right_side_header .mnu_top > li a:hover {
  color: #722ED1;
}
.inner_header .right_side_header .mnu_top > li > .sub_menu {
  position: absolute;
  top: 35px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  z-index: 10;
  border-radius: 5px;
  padding: 5px 0;
  display: none;
  animation: 0.6s opac;
}
.inner_header .right_side_header .mnu_top > li > .sub_menu > li {
  display: block;
}
.inner_header .right_side_header .mnu_top > li > .sub_menu > li > a {
  padding: 3px 10px;
  font-size: 14px;
}
.inner_header .right_side_header .mnu_top > li.has_sub_menu:hover > .sub_menu {
  display: block;
}
.inner_header .right_side_header .mnu_top > li.has_sub_menu::after {
  content: "";
  display: block;
  width: 8px;
  height: 4px;
  background: url("../img/arrow_down.svg") center/cover no-repeat;
  position: absolute;
  top: 15px;
  right: 25px;
}

@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.main_banner {
  padding: 200px 0 300px;
}

.mb_info > h1 {
  color: #160637;
  font-size: 50px;
  font-weight: 900;
  max-width: 520px;
  margin-top: 10px;
}

.notif {
  background-color: #F9F0FF;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  max-width: -moz-max-content;
  max-width: max-content;
}
.notif img {
  width: 16px;
  height: auto;
  margin-right: 7px;
}
.notif p {
  color: #722ED1;
}
.notif a {
  transition: all 0.4s ease;
  text-decoration: none;
  border-bottom: 1px solid #722ED1;
  color: #722ED1;
}
.notif a:hover {
  color: #5b25a7;
  border-color: #5b25a7;
}

.description {
  color: #7E8488;
  margin: 14px 0px 44px 0px;
  font-size: 18px;
}

.btns {
  display: flex;
  align-items: center;
}
.btns > .btn_white {
  margin-left: 16px;
}

#advantages .notif {
  margin: 0 auto 8px;
}
#advantages .notif img {
  width: 26px;
  height: auto;
  margin-right: 7px;
}
#advantages .heading_main {
  text-align: center;
}
#advantages .heading_main h2 {
  color: #160637;
  font-size: 38px;
  font-weight: 900;
  margin: 24px auto;
}
#advantages .heading_main .description {
  margin: 0 auto;
  color: #8989A2;
  max-width: 700px;
  font-size: 18px;
  margin-bottom: 24px;
}
#advantages .row_adv .item_adv {
  text-align: center;
}
#advantages .row_adv .item_adv > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#advantages .row_adv .item_adv > .heading {
  color: #160637;
  font-size: 24px;
  font-weight: 700;
  padding: 16px 0;
}
#advantages .row_adv .item_adv > .deskr {
  color: #8989A2;
  font-size: 16px;
}

section.information .img_responsive {
  margin: 0 auto;
  display: block;
}
section.information .right_info {
  padding-left: 50px;
}
section.information .right_info > h3 {
  padding: 24px 0;
  color: #160637;
  font-size: 38px;
  font-weight: 900;
}
section.information .right_info .descr {
  color: #8989A2;
  font-size: 16px;
}

#reviews {
  padding: 200px 0;
  background: url("../img/reviews/bg.svg") center/cover no-repeat;
}
#reviews .item_rev {
  text-align: center;
  display: none;
  animation: opac 0.8s;
}
#reviews .item_rev.active {
  display: block;
}
#reviews .item_rev > .quotes {
  margin: 0 auto;
  height: 100px;
  color: #160637;
  font-size: 22px;
  max-width: 800px;
}
#reviews .item_rev > img {
  margin: 32px 0;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
#reviews .item_rev > .name,
#reviews .item_rev > .position {
  font-size: 16px;
  color: #111;
  font-weight: 900;
}
#reviews .line {
  margin: 32px 0;
  height: 1px;
  width: 100%;
  background: #DEC9FA;
}
#reviews .nav_rev {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#reviews .nav_rev > div {
  cursor: pointer;
  width: 16%;
  filter: grayscale(1);
  transition: filter 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
#reviews .nav_rev > div.active {
  filter: grayscale(0);
  transform: scale(1.1);
}
#reviews .nav_rev > div > img {
  max-height: 30px;
  max-width: 100%;
}

.btn_form {
  padding: 16px;
  display: block;
  cursor: pointer;
  width: 100%;
  color: #fff;
  background-color: #722ED1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border: none;
  outline: none;
  border-radius: 4px;
  transition: border-radius 0.4s ease-in-out;
  text-decoration: none;
}
.btn_form:hover {
  border-radius: 30px;
}

#pre_footer .pf_info > h4 {
  color: #160637;
  font-weight: 900;
  font-size: 38px;
  text-align: center;
}
#pre_footer .pf_info > img {
  display: block;
  margin: 35px auto;
  width: 100%;
}
#pre_footer .pf_images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
}
#pre_footer .pf_images .img_wrapper {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}
#pre_footer .pf_images .img_wrapper > img {
  display: block;
}
#pre_footer .pf_images :nth-child(3),
#pre_footer .pf_images :last-child {
  margin-bottom: 0;
}
#pre_footer .form_wrapper {
  background-color: #F9F0FF;
  border-radius: 4px;
  text-align: center;
}
#pre_footer .form_wrapper > form {
  border-radius: 4px;
  border: 1px solid #F9F0FF;
  transform: translateY(-40px);
  box-shadow: 0 10px 20px rgba(116, 116, 116, 0.16);
  width: 86%;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px 32px;
}
#pre_footer .form_wrapper > form > h4 {
  color: #160637;
  font-size: 24px;
  font-weight: 900;
}
#pre_footer .form_wrapper > form > input {
  outline: none;
  width: 100%;
  font-size: 16px;
  display: block;
  padding: 16px;
  margin: 16px 0;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid rgba(137, 137, 162, 0.5);
  transition: border-color 0.4s ease-in-out;
}
#pre_footer .form_wrapper > form > input:focus {
  border-color: #8e58da;
}
#pre_footer .form_wrapper > form > input::-moz-placeholder {
  color: #8989A2;
  font-size: 16px;
}
#pre_footer .form_wrapper > form > input::placeholder {
  color: #8989A2;
  font-size: 16px;
}
#pre_footer .form_wrapper > form .or {
  margin: 16px auto;
  color: #000;
  text-transform: uppercase;
}
#pre_footer .form_wrapper > form > a {
  display: block;
  min-width: 200px;
  margin: 0 auto;
  text-decoration: none;
}
#pre_footer .form_wrapper > form > .footer_form .line {
  height: 1px;
  width: 100%;
  background-color: rgba(137, 137, 162, 0.5);
  margin: 16px 0;
}
#pre_footer .form_wrapper > form > .footer_form > p {
  font-size: 14px;
}
#pre_footer .form_wrapper > form > .footer_form > p > a {
  text-decoration: none;
  color: #722ED1;
}

#footer {
  background: #FBFCFF;
  padding: 58px 0 24px 0;
}
#footer .row_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#footer .row_flex .col_footer_1 {
  width: 20%;
}
#footer .row_flex .col_footer_2 {
  width: 55%;
}
#footer .row_flex .col_footer_3 {
  width: 16%;
}
#footer .logo_info > a {
  width: 48px;
  height: 48px;
  display: block;
}
#footer .logo_info > a > img {
  margin: 0 auto;
}
#footer .logo_info .decr {
  color: #160637;
  font-size: 13px;
  margin: 16px 0;
  line-height: 1.65;
}
#footer .logo_info .social {
  list-style-type: none;
}
#footer .logo_info .social > li {
  display: inline-block;
  margin-right: 16px;
}
#footer .logo_info .social > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  text-decoration: none;
}
#footer .logo_info .social > li > a > img {
  transition: transform 0.4s ease;
}
#footer .logo_info .social > li > a:hover > img {
  transform: translateY(-8px);
}
#footer .logo_info .social > li:last-child {
  margin-right: 0;
}
#footer .mnu_footer_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
#footer .mnu_footer > ul {
  list-style-type: none;
}
#footer .mnu_footer > ul > li {
  display: block;
}
#footer .mnu_footer > ul > li > a {
  font-size: 13px;
  text-decoration: none;
  padding: 6px 0;
  display: block;
  color: #160637;
  transition: color 0.4s ease;
}
#footer .mnu_footer > ul > li > a:hover {
  color: #722ED1;
}
#footer b.heading {
  color: #160637;
  margin-bottom: 10px;
  display: block;
  font-size: 16px;
  font-weight: 900;
}
#footer .newsletter b.heading {
  margin-bottom: 16px;
}
#footer .newsletter > form {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.05);
  margin-top: 8px;
}
#footer .newsletter > form > input {
  display: block;
  border: none;
  outline: none;
  padding: 12px 32px 12px 16px;
  max-width: 100%;
}
#footer .newsletter > form > input::-moz-placeholder {
  color: #8989A2;
  font-size: 14px;
}
#footer .newsletter > form > input::placeholder {
  color: #8989A2;
  font-size: 14px;
}
#footer .newsletter > form > button {
  position: absolute;
  right: 10px;
  z-index: 10;
  display: block;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}
#footer .copyright {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  max-width: 130px;
}
#footer .copyright > p {
  color: #160637;
  font-size: 16px;
  font-weight: 900;
  margin-right: 8px;
}

.animate_graphic {
  transition: none;
  animation: 1.5s infinite alternate movingAn;
}

@keyframes movingAn {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(10px);
  }
}